:root {
   --main-color: #212121;
    --text-decoration: #2196F3;
}
body {
    background-color: #FFFFFF;
}
.header {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 1600px;
    height: 80px;
    background-color: #FFFFFF;
}

.hero {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 1600px;
    height: 600px;
    background-color: #2F303A;
}
.hero-titel {
    color: #FFFFFF;
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
}
