:root {
    --second-color: #2196F3;
    --paragraph-color: #757575;
    --accent-color: #FFFFFF;
    --main-accent-color: #000000;
    --second-font: Raleway, sans-serif;
    --main-color: #212121;
}
body {
    background-color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212121;
    letter-spacing: 0.03em;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.link:hover, .link:focus {
   text-decoration: underline var(--second-color);
   color: var(--second-color); 
}
.button, .button-order {
    font-family: inherit; 
    border: none;
    background-color: #F5F4FA;
    cursor: pointer;
}
.button:hover, button:focus {
    text-decoration: underline var(--second-color);
    background-color: var(--second-color);
}
.button-order:hover, .button-order:focus {
    text-decoration: underline var(--main-accent-color);
    background-color: var(--second-color);
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
}
/*Header*/
.header {
    background: var(--accent-color);
}
.logo {
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    text-decoration: none;
}
.logo-first-part {
    color: var(--second-color);
    }
.logo-last-part {
    color: var(--main-accent-color);
   }
.nav-list .link {
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-list .link.current {
    color: var(--second-color);
}
.nav-list .link:hover, .nav-list .link:focus  {
    color: var(--second-color);
}
.contacts .link {
    color: var(--paragraph-color);
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}
.contacts .link:hover, .contacts .link:focus {
    color: var(--second-color);
}
/*Footer*/
.footer {
    background: #2F303A;
}
.footer-address-link {
    font-style: normal;
    color: var(--accent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
}
.footer-e-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: rgba(255, 255, 255, 0.6);
}
.address-list .link:hover, .address-list .link:focus {
    color: var(--second-color);
}
/* WebStudio */

.hero {
background: #2F303A;
}
.hero-titel {
    color: var(--accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.button-order {
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--accent-color);
background: var(--second-color);
cursor: pointer;
}
/*Features*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .features-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
  }
  .features-list-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: var(--paragraph-color);
  }
  /*Our Team*/
.ourteam {
    background: #F5F4FA;
}
.ourteam-list-title {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
}
.ourteam-list-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: var(--paragraph-color);
}
/*Portfolio*/
.portfolio-list-titel {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--main-color)
}
.portfolio-list-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--paragraph-color);
}
.portfolio-list-article {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--main-color);
}
.portfolio-list-article:hover,
.portfolio-list-article:focus {
    color: var(--accent-color);
    text-decoration: underline var(--accent-color);
    background-color: var(--second-color);
}