:root {
    --main-color: #212121;
    --second-color: #2196F3;
    --paragraph-color: #757575;
    --accent-color: #FFFFFF;
    --main-accent-color: #000000;
    --second-font: Raleway, sans-serif;
}
body {
    background-color: var(--accent-color);
    font-family: 'Roboto';
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.link:hover, .link:focus {
   text-decoration: underline; 
}
.button, .button-order {
    font-family: inherit;  
}
/*Header*/
.logo {
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    text-decoration: none;
    letter-spacing: 0.03em;
    word-spacing: 0.03em;
}
.logo-first-part {
    color: var(--second-color);
    }
.logo-last-part {
    color: var(--main-accent-color);
    letter-spacing: 0.03em;
   }
.nav-list {
    color: var(--main-color);
}
.e-mail {
    color: var(--second-color);
}
.telephone {
    color: var(--paragraph-color);
}
/* WebStudio */

.hero {
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: #2F303A;
}
.hero-titel {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
/*Portfolio*/
